<div class="pb-6">
    <p>
        The Ghana in Data open source program is managed by the open source office at DevForce Africa.
        We organize a community of open source practitioners and enthusiasts to accomplish our mission 
        of making open source software development a norm in Africa.
    </p>

   
    <h4 class="h4">Expert support &amp; Resources</h4>
    <p>
        A coalition of teams, experts, and friendly resources are available
        to make sure that everyone interested in contributing to our cause understands how to use open source.
    </p>

    <ul class="ul mt-4">
        <li>
            <b>Easy to Follow Guides for Existing and Aspiring Contributers:</b>
            Comprehensive reference material for everyone to refer to
            helps to share knowledge and reduce confusion. Checklists, policies and
            advanced guides have been prepared by Subject Matter Experts, open source practioners, and 
            curated by our team, to make learning about using open source easy and efficient.

            <br />
            <br />
            <!-- // TODO: Create a catalogue of guides -->
            You can find a catalogue of these resources at
            <a href="#" target="_new">open source guide</a>.
        </li>
        <!-- <li>
            <b>Open Source Standards and Legal Team:</b>
            Expert attorneys and program managers with decades of open source experience
            from across the industry make up the legal team that crafts policies, guidance,
            and inform their clients regarding all their licensing and open community needs. 
            Every employee at Microsoft has access to an open source attorney dedicated to their
            organization and familiar with their business goals and unique needs.
        </li> -->
        <li>
            <b>Open Source Champs:</b>
            Our Community <a href="https://discord.gg/Keq7vc5B" target="_new">Discord channel</a> makes it
            easy and straightforward to connect with open source maintainers and
            experts to get answers.
            
            <br/>
            <br/>
            The Open Source leaders come from teams across Tech companies in Africa and are able to
            help advise teams and help share expertise. 
        </li>
    </ul>

    <h4 class="h4">Standards OpenChain 2.1 conformance</h4>
    <p>
        We take trust very derio Trust is key to open source. Developers should be able to trust users to 
        respect their licensing choices. And when you receive software, you should 
        be able to trust that the open source licenses were followed.
    </p>
    <p>The <a href="https://www.openchainproject.org/" target="_new">OpenChain Project</a> 
        plays a key role in building trust by setting standards that define how we operate a 
        high-quality open source compliance program. It means that when you receive open source from a 
        company that follows the OpenChain standard, you can be assured that the code went through a rigorous 
        license compliance process. You can trust it.
    </p>
    <p>
        We are working to become OpenChain 2.0-conformant by December 2024.
    </p>
</div>

