<div class="pb-6">
    <h3 class="h3 mb-4">Contributing to Ghana in Data</h3>
    <p><em>This is a summary of how we approach contributing to open source at Ghana in Data.</em></p>
    <p>
        We welcome and encourage contributions to Ghana in Data! 
        Whether you're a developer or data expert, contributing helps improve 
        the project and keeps it valuable for everyone.
    </p>
    <p>
        Here's How to get started:
    </p>
    <ul class="ul mt-4">
        <li>
            <b>Check Out the Repo:</b> 
            Visit our <a href="https://github.com/ghana-in-data/gh-in-data" target="_new">GitHub repository</a> to explore the codebase. 
            Fork the repo, clone it locally, and 
            follow the setup instructions in the README to get started.
        </li>
        <li>
            <b>Good First Issues:</b> 
            If you’re new to contributing, 
            we’ve labeled some beginner-friendly issues with "Good First Issue" 
            to help you ease into the project. Tackle these to 
            get familiar with the codebase while making valuable contributions.
        </li>
        <li>
            <b>Small changes:</b> 
            For minor updates like bug fixes or enhancements, fork  <a href="https://github.com/ghana-in-data/gh-in-data" target="_new">the repository</a>
            make your changes, and submit a pull request. 
            Be sure your commit messages are clear and follow our guidelines.
        </li>
        <li>
            <b>Larger changes:</b>
            For substantial contributions (new features or major revisions), 
            follow the contributor guidelines and submit a pull request for review. 
            We’ll provide feedback and ensure your changes align with the project’s goals.
        </li>
        <li>
            <b>Engage the Community:</b>
            Before submitting changes, 
            take time to understand our community’s practices. Be sure to communicate clearly and engage respectfully.
        </li>
        <li>
            <b>Engage the Community:</b>
            Note that different open source communities take contributions in different ways. 
            Before firing off a pull request, investigate how best to engage the community you 
            will be contributing back to.
        </li>
        <li>
            <b>Code Review & Standards</b>
            All contributions go through a review process to ensure quality. 
            Adhere to our standards—clean code, meaningful commit messages, and thorough documentation.
        </li>
        <li>
            <b>Fork Nicely:</b> Always try to contribute to a community instead of hard 
            forking. Review internal guidelines and training before forking into an official GitHub org.
        </li>
    </ul>
    <p>
        Ready to get started? Check out the repo and take your first step!
    </p>
</div>
